{% extends 'Pharmacy/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add stock</title>
</head>
<body>
    <h1 align="center">Add Stock</h1>
    <!-- <a href="{% url 'Pharmacy:pharmacyhomepage'%}">Home Page</a> -->

    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>Stock</td>
                <td>
                    <input type="number" name="txt_stock" id="" required>
                </td>
            </tr>
            <tr>
                <td colspan="2"  align="center">
                    <input type="submit" value="Submit" name="btn_submit">
                </td>            
            </tr>
        </table>
    </form>
    <br>
    <br>
    <br>
    <table align="center" border="1">
        <tr>
            <td>#</td>
            <td>Count</td>
            <!-- <td>------</td> -->
        </tr>
        {% for i in stock %}
        <tr>
            <td>
                {{forloop.counter}}
            </td>
            <td>
                {{i.stock_count}}           

            </td>
            <td></td>
        </tr>
        {% endfor %}
       </table>
</body>
</html>

{% endblock %}