<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designation</title>
</head>
<body>
    <form action="" method="POST">
        {%csrf_token%}
        <h3 align="center">Designation Registration</h3>
        <a href="{% url 'Admin:homepage' %}">Home Page</a><br>
        <table border="1" align="center">
            <tr>
                <td>Designation Name </td>
                <td><input type="text" name="txtdesigname" id="" value="{{editdsig.designation_name}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                    <input type="submit" value="Cancel"></td>
            </tr>
        </table>
    </form>
    <table border="1" align="center">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
        </tr>

            {% for i in designation %}
            <tr>
            <td>{{forloop.counter}} </td>
            <td>{{i.designation_name}}</td>
            <td><a href="{% url 'Admin:deletedesignation' i.id %}">Delete</a></td>
            <td> <a href="{% url 'Admin:editdesignation' i.id %}">Edit</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>